body {
  background-color: #121625;
  color: #ffffff;
  font-family: "Cascadia Code", sans-serif;
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #ffffff;
  text-align: center;
}

header a {
  font-size: 2rem;
  background-color: #0d47a1;
  padding: 20px 0;
  width: auto;
  height: auto;
}

header a:hover {
  background-color: #2a4e9c; /* Cambiar a un azul más oscuro al hacer hover */
}

textarea {
  width: calc(49% - 20px);
  padding: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #1c1f2e;
  color: #bebebe;
  border: 1px solid #3d415a;
  font-size: 16px;
}

textarea#out {
  float: right;
  margin-right: 20px;
}

textarea#in {
  margin-left: 20px;
}

button {
  padding: 14px 28px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #4374e0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  width: fit-content;
  font-size: 18px;
}

button:hover {
  background-color: #305ebb;
}
